$background: hsl(187, 60%, 85%);
$font: "Bangers";
$fontSize:25px;
$backgroundContainer: white;
$corTexto: blue;
$backgroundFiltro:rgb(0, 247, 255);
$borderRadius: 10px;
$borderRadius2:5px;
$marginTop:20px;
$corButton:blue;
$corFont2: white;
$marginTop2:10px;
$buttonHover:yellow;

